@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
        ViewData["Title"] = "Audit Calendar";

}
<head>
    <meta charset='utf-8' />
    <link rel="stylesheet" href="~/css/main.css" />
    <script src="~/js/main.js"></script>

    <script>
            document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                views:{
                    listMonth: {buttonText: 'List Month'}
                },
                //loading in events
                events: @Html.Raw(ViewData["Events"]),
                //loading in resources
                resources: @Html.Raw(ViewData["Resources"]),
                 eventClick: function(info) {
                var eventObj = info.event;
                if (eventObj.url)
                {
                    alert('Clicked ' + eventObj.title + '.\n' +'Will open ' + eventObj.url + ' in a new tab');
                    window.open(eventObj.url);
                    info.jsEvent.preventDefault(); // prevents browser from following link in current tab.
                  } else {
                    alert(eventObj.title);
                  }
                },

            });
            calendar.render();
        });
    </script>
</head>
<body>
    <div id='calendar'></div>

</body>


<div class="row">
    <div class="col-md-6">
        <a href="/Event"><h3>Events</h3></a>
    </div>
    <div class="col-md-6">
        <a href="/Process"><h3>Process</h3></a>
    </div>
</div>